.footer {
    /* max-width: 1440px; */
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row; */
    /* margin: 0 auto; */
    /* padding: 32px 0; */
    /* border-top: 1px solid rgba(255, 255, 255, 0.3); */
    /* z-index: 999; */
    /*  position: relative; */
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;



    .footer-content {
        position: relative;
        max-width: 1440px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        padding: 32px 0;
        margin: 0 var(--mg-lr);

        .footer-grid {
            position: absolute;
            left: 0;
            width: calc(100%);
            bottom: 100%;
            max-width: 1440px;
            margin: 0 auto;
            z-index: 0;
            opacity: 0;
        }
    }

    &.nation {
        .footer-content {
            .footer-grid {
                opacity: 1;
                z-index: -1;
            }
        }
    }

}



.links-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 72px;

    li {
        a {
            cursor: pointer;
            font-weight: 600;
        }
    }
}


.links2 {
    align-self: end;
    gap: 40px;
}

.copyright {
    font-weight: 300;
    opacity: 0.6;
}

.copyright-mbl {
    display: none;
}




@media screen and (max-width: 1568px) {
    /*   .footer {
        margin: 0 var(--mg-lr);
    } */
}


@media screen and (max-width:1023px) {
    .footer {
        .footer-content {
            margin: 0;
            padding: 32px var(--mg-lr);
        }
    }

    .links,
    .links2 {
        gap: 40px;
    }

}

@media screen and (max-width:705px) {
    .links {
        gap: 48px;

        li {
            font-weight: 600;
        }
    }


    .footer {
        .footer-content {
            flex-direction: column;
            align-items: flex-start;
            gap: 40px
        }
    }

    .copyright {
        font-size: 12px;
        line-height: 16px;
        display: none;
    }

    .copyright-mbl {
        display: block;
    }

    .links-block {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        flex-direction: column-reverse;
        gap: 24px;
    }

    .links2 {
        align-self: flex-start;
    }
}